body {
  background: linear-gradient(white, darkgray, white);
  font-family:Impact, 'Arial Narrow Bold', sans-serif;
  grid: flex;
}

h1 {
  text-align: center;
  color: black;
}

.header {
  text-align: center;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  background: whitesmoke;
  border: 4px;
  border-radius: 15px;
  width: 1100px;
  box-shadow: 2px 4px black;
  margin-bottom: 40px;
}

.selector-box {
  margin-top: 15px;
  margin-left: 5px;
  padding: 20px;
}

#rust, #go, #ruby {
  display: none;
  text-align: center;
}

.radio1 {
  margin: 0 auto;
  padding: 20px;
}

.radio2{
  margin: 0 auto;
  padding: 20px;
}

.radio3 {
  margin: 0 auto;
  padding: 20px;
}

.radio4 {
  margin: 0 auto;
  padding: 20px;
}

.btn {
  padding: 20px;
  border: none;
  color: darkcyan;
  font-size: 24px;
  cursor: pointer;
}

#rust {
  padding: 10px;
  margin-bottom: 20px;
}

#go {
  padding: 10px;
  margin-bottom: 20px;
}

#ruby {
  padding: 10px;
  margin-bottom: 20px;
}